# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
backend/venv/
backend/.env

# Node & Next.js
node_modules/
.next/
out/
build/
frontend/.env
frontend/.env.local

# Databases & OS
*.db
*.db-journal
*.db-wal
.DS_Store
Thumbs.db
.vscode/
